:root {
  --primary: #0A2264;
  --accent: #000a24;
  --background: #f7f7f7;
  --text: #333;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: 'Roboto Slab', serif;
  color: var(--text);
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  box-sizing: border-box;
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  color: white;
  margin: 0;
}

p {
  line-height: 1.6;
  color: var(--text);
}

.header {
  width: 100%; 
  background-color: var(--primary);
  padding: 10px 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
   z-index: 1000;
}

.main-content {
  margin-top: calc(45px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.burger-menu-icon {
  display: none;
  cursor: pointer;
  width: 40px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.ham-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ham-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: 0.25s ease-in-out;
}

.ham-menu span:nth-child(1) {
  top: 0;
}

.ham-menu span:nth-child(2) {
  top: 10px;
}

.ham-menu span:nth-child(3) {
  top: 20px;
}

.ham-menu.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: static;
  width: auto;
  justify-content: flex-end;
}

.burger-menu-icon {
  display: none;
}

.navigation.active {
  display: flex;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 10px 15px;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s;
}

.navigation a:hover {
  background-color: white ;
  color: var(--accent);
}

.search-filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
}

#keyword-input {
  flex: 1;
  padding: 12px 15px 12px 35px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#keyword-input:focus {
  box-shadow: 0 0 10px rgba(7, 18, 87, 0.816);
}

.search-filter-container::before {
  content: '\f002';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #595959;
  pointer-events: none;
}

#apply-filter {
  padding: 12px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #0a2b7f;;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#apply-filter:hover {
  background-color: rgb(12, 19, 69);
}

@media (max-width: 1000px) {
  .navigation {
    display: none;
  }

  .burger-menu-icon {
    display: flex;
  }

  .ham-menu {
    cursor: pointer;
  }

  .navigation.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    padding: 10px 0;
    z-index: 1000;
  }

  .navigation ul {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .navigation a {
    padding: 10px;
    border-radius: 0;
  }
}

.list-item, .article-item {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  max-width: 800px;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
  margin: 16px 0;
}

.list-item:hover, .article-item:hover {
  background-color: #0d12351f;
}

.article-content {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.article-thumbnail {
  flex-shrink: 0;
  margin-left: 16px;
}

.article-thumbnail img {
  width: 200px;
  height: auto;
}

.article-section {
  font-size: 0.75em;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.article-title a {
  color: var(--accent);
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}

.article-title a:hover {
  text-decoration: underline;
}

.article-trail-text {
  color: var(--text);
  font-size: 1em;
  margin: 8px 0;
}

.article-metadata {
  font-size: 0.75em;
  color: #666;
  margin-top: 8px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1em;
}

.button-container .active-page {
  background-color: #0d5195;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
}

.button-container #total-items {
  font-size: 0.9em;
  color: #666;
}

.loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: var(--primary);
  z-index: 1000;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.whiteframe {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 8px 0;
}

.to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  color: gray;
  border: none;
  padding: 43px 15px;
  font-size: 45px;
  cursor: pointer;
}

.to-top-btn.show {
  display: block;
}